html {
  background: linear-gradient(45deg, #D1C4E9 0%,#9575CD 47%,#673AB7 100%);
}

img {
  margin: auto;
  display: block;
  width: 1200px;
  height: 400px
}

.title {
  text-align: center;
  font-family: 'Abhaya Libre', serif;
  font-size: 160px;
  color: black;
}

.link {
  margin-left: 470px;
  text-align: center;
  font-size: 80px;
  font-family: 'Abhaya Libre', serif;
  color: white;
}