/*html {
  background: #0D3632;
}

img {
  margin: auto;
  display: block;
  width: 1200px;
  height: 400px
}

.phodome {
  text-align: center;
  font-family: 'Indie Flower', cursive;
  font-size: 160px;
  color: white;
}

.link {
  margin-left: 470px;
  text-align: center;
  font-size: 80px;
  color: white;
}*/

.muidocs-icon-custom-github:before {
    content: "\e625";
}